<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Just Love Foundation</h3>
</div>

<div class="jumbotron">
  <h1>Greetings World</h1>
  <p class="lead">
    We are still under development
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4><a href='http://www.omegapsiphifraternity.org/home.asp'>Omega Psi Phi</a></h4>
  <p>
    More information on the 79th Grand Conclave <a href='http://www.omegapsiphifraternity.org/omega_conclave_details.asp'>here</a>
  </p>

  <h4><a href='https://github.com/Omega-Psi-Phi'>Github</a></h4>
  <p>
    Established GLOBAL programming group for the fraternity. Within that is <a href='https://github.com/Omega-Psi-Phi/justlove'>The Just Love Foundation</a>
  </p>

  <h4>Construction</h4>
  <p>
    We hope to be up and running soon. Thank you for your patience!
  </p>
</div>

<div class="footer">
  <p>Regards, from the OPPF dev team.</p>
</div>
